@model MVC.CMN.Models.MessageBoard.MessageBoardViewModel
@{
    ViewBag.Title = "Index";
}

<div>
    <div class="panel rounded border border-info col-4 mx-auto panel-transparent p-2 m-2">
        <h2 class="text-center">REAL MessageBoard</h2>
    </div>
</div>


@*<p>Boards: @Model.Boarditems.Count</p>

    @foreach (var item in Model.Boarditems) {
        <div>
            <p>Board: @item.Name</p>
            <p>Threads: @item.Threads.Count</p>
        </div>
    }*@

<table class="mx-auto col-10">

    @{
        foreach (var board in Model.Boarditems)
        {
            @Html.Partial("_BoardCell", board)

        }
    }
</table>





<hr />
<div class="form-group col-6 mx-auto p-2">
    @using (Html.BeginForm("CreateNewBoard", "MessageBoard", new { userId = "fa6fb3bc-1cca-4fe9-95d5-e0544dee4d1f" }, FormMethod.Post))
    {
        <input type="text" class="form-control col-12" id="NewThreadTitle" name="boardtitle" placeholder="Board title">
        <br />

        <textarea rows="10" cols="50" class="form-control col-12" id="NewPostInput" name="boardcontent"></textarea>

        <br />
        <input type="submit" class="btn btn-primary" value="New board">
    }
</div>






<div>
    <ul class="breadcrumb">
        <li><a href="#">Main</a></li>
    </ul>
</div>
