@model MVC.CMN.Models.MessageBoard.MessageBoardViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Boards: @Model.Boarditems.Count</p>

@foreach (var item in Model.Boarditems) {
    <div>
        <p>Board: @item.Name</p>
        <p>Threads: @item.Threads.Count</p>
    </div>
}