@model MVC.CMN.Models.MessageBoard.Thread

@{
    ViewBag.Title = "SingleThread";
}


@Html.Partial("_Carousel")



<div class="d-flex flex-column col-10 mx-auto no-padding">




    <table class="col-12 mx-auto">

        @{
            foreach (var post in Model.Posts)
            {

                @Html.Partial("_PostCell", post)

            }
        }
    </table>
</div>



<hr />





<div class="form-group col-6 mx-auto p-2">
    @using (Html.BeginForm("CreateNewPost", "Home", FormMethod.Post, new { threadId = Model.ThreadId } ))
    {
        <textarea rows="10" cols="50" class="form-control col-12" id="NewPostInput" name="postcontent"></textarea>
        <br />
        <input type="submit" class="btn btn-primary" value="Reply">
    }
</div>





<div>
    <ul class="breadcrumb">
        <li><a href="#">Main</a></li>
        <li><a href="#">GetParentName</a></li>
        <li><a href="#">@Model.Subject</a></li>
    </ul>
</div>
