@using Microsoft.AspNet.Identity
@model MVC.CMN.Models.MessageBoard.Board

@{
    ViewBag.Title = "SingleBoard";
}

@using MVC.CMN.Models.MessageBoard

=======

@*@Html.Partial("_Carousel")*@

<div class="mx-auto col-10 no-padding">

    @Html.Partial("_BoardCell", Model)
</div>

<hr />

@if (Request.IsAuthenticated) {

    <div class="form-group col-6 mx-auto p-2" id="NewOrEdit">

        @Html.Partial("_CreateNewThread", new NewThreadViewModel() { BoardId = Model.BoardId, UserId = User.Identity.GetUserId() })
    </div>
}

<div>
    <ul class="breadcrumb">
        <li><a href="#">Main</a></li>
        <li><a href="#">@Model.Name</a></li>
    </ul>
</div>