body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-image: url("../Images/water-management-systems.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
    
}


#indexcarousel {
    height: 100px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


nav ul li a, nav ul li a:visited {
    color: lightgray ;
    text-decoration: none;
}

    nav ul li a:hover, nav ul li a:active {
        color: white;
        text-decoration: none;
    }

.panel-transparent {
    background: rgba(0, 148, 255, 0.2);
}

    .panel-transparent .panel-heading {
        background: none;
    }

    .panel-transparent .panel-body {
        background: none;
    }