<div class="d-flex flex-row gradient-blue">
    <div class="col-8 ">
        <p class="small no-margin">
            Topics
        </p>
    </div>

    <div class="col-1 ">
        <p class="small no-margin">
            Threads
        </p>
    </div>

    <div class="col-1 ">
        <p class="small no-margin">
            Posts
        </p>
    </div>
    <div class="col-2 ">
        <p class="small no-margin">
            Latest post
        </p>
    </div>
</div>

