@model MVC.CMN.Models.MessageBoard.NewPostViewModel

@using (Html.BeginForm("CreateNewPost", "MessageBoard", new { threadId = Model.ThreadId, userId = Model.UserId }, FormMethod.Post)) {
    @Html.AntiForgeryToken()

    <div id="wmd-button-bar" class="form-control wmd-panel col-12 mx-auto"></div>
    <textarea id="wmd-input" rows="10" cols="50" class="form-control wmd-panel col-12 mx-auto" name="postcontent"></textarea>
    <br />
    <div id="wmd-preview" class="form-control wmd-panel col-12 mx-auto"></div>


    <br />
    <input type="submit" class="btn btn-primary" value="Reply">
}