@model MVC.CMN.Models.MessageBoard.NewPostViewModel

@using (Html.BeginForm("CreateNewPost", "MessageBoard", new { threadId = Model.ThreadId, userId = Model.UserId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div id="wmd-button-bar" class="form-control wmd-panel col-8 mx-auto"></div>
    <textarea id="wmd-input" class="form-control wmd-panel mx-auto" name="postcontent"></textarea>
    <br />
    <div id="wmd-preview" class="form-control wmd-panel mx-auto"></div>
    <br />
    <div id="wmd-output" class="form-control wmd-panel mx-auto"></div>




    <textarea rows="10" cols="50" class="form-control col-12" id="NewPostInput" name="postcontent"></textarea>

    <br />
    <input type="submit" class="btn btn-primary" value="Reply">
}






