@model MVC.CMN.Models.MessageBoard.NewThreadViewModel

@using (Html.BeginForm("CreateNewThread", "MessageBoard", new
{
    boardId = Model.BoardId,
    userId = Model.UserId
}, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <textarea rows="1" cols="50" class="form-control col-12" id="NewThreadTitle" name="threadtitle" placeholder="Thread title"></textarea>

    <br />



    <div id="wmd-button-bar" class="form-control wmd-panel col-12 mx-auto"></div>
    <textarea id="wmd-input" rows="10" cols="50" class="form-control wmd-panel col-12 mx-auto" name="threadcontent"></textarea>
    <br />
    <div id="wmd-preview" class="form-control wmd-panel col-12 mx-auto"></div>
    <br />
    <div id="wmd-output" class="form-control wmd-panel col-12 mx-auto"></div>


    <br />
    <input type="submit" class="btn btn-primary" value="New thread">
}
