<div class="border border-secondary p-2 m-2 rounded" id="Entry5">
    <p>
        <h2>
            Latest CoD release revealed: yet another FPS!
        </h2>
    </p>

    <p class="small">
        Integer sit amet ligula nec nibh tristique ultrices sed non tellus. Nunc sollicitudin, dui ut tincidunt ultrices, justo odio viverra elit, a hendrerit libero turpis eget risus.
        Integer imperdiet dignissim scelerisque. Nullam at lectus eget dolor venenatis blandit. Proin condimentum odio vel hendrerit posuere. Nunc luctus est a varius fermentum.
        Praesent eu placerat tellus, a pharetra risus. Suspendisse vitae laoreet purus. Suspendisse pulvinar dolor tellus, vel posuere arcu hendrerit at.
        Donec a nunc porttitor, varius tellus ut, auctor metus. Vestibulum rhoncus facilisis interdum. Nunc a neque eu purus condimentum vehicula maximus vel enim.
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec pellentesque sodales tortor quis feugiat.
        Fusce egestas, tortor eu blandit pretium, justo sapien tempus leo, convallis dapibus lorem lectus in est.
    </p>

</div>

