@using MVC.CMN.Models


@{
    ViewBag.Title = "Home Page";

    FakeGame game = StaticData.GetGame();

}

@*<div class="d-flex flex-row">
        <p>This is a flex row</p>
    </div>
    <div class="d-flex flex-row">
        <p>This is a flex row2</p>
    </div>*@


@*@Html.Partial("_Carousel")*@








<div class="d-flex">
    <div class="col-md-9 col-lg-9" id="newsfeed">

        @Html.Action("NewsLoader")

    </div>





    <div class="col-md-3 col-lg-3" id="sidebar">

        <div class="border border-primary p-2 m-2 rounded panel panel-primary panel-transparent" id="Notice1">
            <p class="panel-heading">
                <h2 class="text-center">
                    <b>GAME OF THE MONTH</b>
                </h2>
            </p>

            <p>
                <img src="~/Content/Images/@game.filename" class="img-fluid img-thumbnail">


            </p>

            <p class="small panel-body">
                @game.description <a href="#">(read more)</a>
            </p>
        </div>
    </div>
</div>


