@model  List<MVC.CMN.Models.Boarditem>

@{
    ViewBag.Title = "MessageBoard";
}

<h2>MessageBoard</h2>


<div class="d-flex">

    <table class="col-12 table-hover">

        @{
            foreach (var board in Model)
            {
                        @Html.Partial("_BoardCell", board)

            }
        }

    </table>
</div>