@model  List<MVC.CMN.Models.Boarditem>

@{
    ViewBag.Title = "MessageBoard";
}

<div>
    <div class="panel rounded border border-info col-4 mx-auto panel-transparent p-2 m-2">
        <h2 class="text-center">MessageBoard</h2>
    </div>
</div>

<div class="col-10 no-gutters mx-auto" style="background: white;">





    <table class="mx-auto col-10" style="background: white;">

        @{
            foreach (var board in Model)
            {
                @Html.Partial("_BoardCell", board)

            }
        }

    </table>
</div>

<