@model MVC.CMN.Models.Threaditem

@{
    ViewBag.Title = "SingleThread";
}




<div class="d-flex border border-dark rounded flex-column col-10 mx-auto no-padding" >
    <div class="col-12 gradient-orange">
        <h3>@Model.Title    </h3>
    </div>

    <table>

        @{
            foreach (var post in Model.Posts)
            {

                @Html.Partial("_PostCell", post)

            }
        }

    </table>
    </div>