@model MVC.CMN.Models.Boarditem

@{
    ViewBag.Title = "SingleBoard";
}

<div>
    <ul class="breadcrumb">
        <li><a href="#">Main</a></li>
        <li><a href="#">@Model.Title</a></li>
    </ul>
</div>

<div class="d-flex border border-dark rounded flex-column col-10 mx-auto no-padding">

    <div class="col-12 gradient-steelblue">
        @Model.Title    
        </div>

    <div class="col-12 gradient-white">
        @Model.Description    

    </div>



    <table class="col-12 mx-auto">

        @{
            foreach (var thread in Model.Threads)
            {



                @Html.Partial("_ThreadCell", thread)



            }
        }
    </table>
</div>

<hr />

<div class="form-group col-6 mx-auto p-2">
    @using (Html.BeginForm("CreateNewThread", "Home", FormMethod.Post))
    {
        <input type="text" class="form-control col-12" id="NewThreadTitle" name="title" placeholder="Thread title">
        <br />

        <textarea rows="10" cols="50" class="form-control col-12" id="NewPostInput" name="content"></textarea>

        <br />
        <input type="submit" class="btn btn-primary" value="New thread">
    }
</div>







