@model MVC.CMN.Models.Boarditem

@{
    ViewBag.Title = "SingleBoard";
}

<h2>SingleBoard</h2>

<h2>@Model.Title    </h2>




<div class="d-flex border border-dark rounded flex-column col-10 mx-auto no-padding">

    <div class="col-12 gradient-orange">
        <h3>@Model.Title    </h3><br />
        <h4>@Model.Description    </h4>

    </div>



    <table class="col-12 mx-auto">

        @{
            foreach (var thread in Model.Threads)
            {



                @Html.Partial("_ThreadCell", thread)



            }
        }
    </table>
</div>

<hr />

<div class="form-group col-10 mx-auto p-2">
    @using (Html.BeginForm("CreateNewThread", "Home", FormMethod.Post))
    {
        <input type="text" class="form-control col-12" id="NewThreadInput" name="name" placeholder="Thread title">
        <br />
        <input type="submit" class="btn btn-primary" value="New thread">
    }
</div>







